.container {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.start-box {
    margin: 20px 0;
    display: none;
}


.start-box.active {
    display: block;
}

.start-box #input-counter {
    padding: 7px;
    width: 300px;
    outline-color: black;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 2px;
}

.start-box #start-counter {
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    background: #e74c3c;
    color: white;
    border-radius: 2px;
}

.message {
    margin-top: 10px;
    font-size: .9em;
}

.message .loading {
    color: #e74c3c;
    display: none;
}

.message .success {
    color: #27ae60;
    display: none;
}

#error-message {
    color: #e74c3c;
    font-size: .9em;
    display: none;
}

#error-message.active {
    display: block;
}

.c100 {
    display: none;
}